@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 1rem;
  font-family: Open-sans, sans-serif;
}

/* td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
} */

form {
  max-width: 550px;
  width: 100%;
  gap: 100px;
}

.form__inputs {
  display: flex;
  flex-direction: column;
}

.table_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: auto;
  white-space: nowrap;
}

h3 {
  border: 2px solid #fff;
  border-radius: 3px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  align-content: center;
  font-weight: 900;
  font-size: 1.4em;
  line-height: 1;
  box-sizing: border-box;
  height: 40px;
  margin: 0 0 20px 0;
  padding: 0;
  text-transform: uppercase;
}

.checked {
  color: #999;
  text-decoration: line-through;
}

header {
  display: flex;
  gap: 30px;
  align-items: center;
}

dialog::backdrop {
  background-color: black;
  opacity: 0.75;
}

dialog {
  padding: 0px;
}

[name='delete'] {
  width: 50px;
  height: 30px;
}

.actionsColumn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form {
  padding: 2rem 4rem;
}

/* -----------------------------------TABLE----------------------------------- */
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9rem;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

/* -----------------------------------BUTTON----------------------------------- */
#addNewTask-btn {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: #009879;
  color: #ffffff;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms, background 200ms;
}

#addNewTask-btn:hover {
  transform: translateY(-2px);
}

#submit {
  background-color: #009879;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: #ffffff;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms, background 200ms;
  padding: 1rem 2rem;
}

#submit:hover {
  transform: translateY(-2px);
}

/* -----------------------------------LOGO----------------------------------- */

.logo {
  border: 2px solid #fff;
  border-radius: 3px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  align-content: center;
  margin: 20px;
  padding: 0px 10px;
  font-weight: 900;
  font-size: 1.4em;
  line-height: 1;
  box-sizing: border-box;
  height: 40px;
}

/* -----------------------------------INPUTS----------------------------------- */
.group {
  position: relative;
  margin-bottom: 45px;
}
.group input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
.group input:focus {
  outline: none;
}

.group label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.group input:focus ~ label,
.group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #009879;
}

.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #009879;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

.group input:focus ~ .bar:before,
.group input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.group input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: #009879;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #009879;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #009879;
  }
  to {
    width: 0;
    background: transparent;
  }
}
